/* .third-hightlight-wrapper {
  background-image: url("../../../images/home/watch203.jpg");
 
  height: 600px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: initial;
  text-align: center;

  background-color: black;
}
.third-hightlight-wrapper .title-wraper {
  background-image: url("../../../images/icons/logo-watch.png");
  padding-top: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 147px 57px;
} */
.third-hightlight-wrapper {
  background-image: url("../../../images/home/ipad.jpg");
  height: 680px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  /* padding: 65px 20px; */
  color: #fff;
}

.third-hightlight-wrapper .title-wraper {
  padding-top: 20px;
  font-size: 40px;
}
@media only screen and (max-width: 1068px) {
  .third-hightlight-wrapper {
    background-image: url("../../../images/home/horz.jpg");
  }
}
@media only screen and (max-width: 734px) {
  .third-hightlight-wrapper {
    background-image: url("../../../images/home/verti.jpg");
    height: 548px;
    background-size: 734px 548px;
    background-repeat: no-repeat;
  }
  .third-hightlight-wrapper .title-wraper {
    display: none;
  }
  .third-hightlight-wrapper .description-wrapper {
    font-size: 18px;
    margin: 0 18%;
  }
  .third-hightlight-wrapper .description-wrapper {
    padding-top: 350px;
    font-size: 19px;
    line-height: 1.21053;
    font-weight: 400;
    letter-spacing: 0.012em;
  }
  .third-hightlight-wrapper .unit-copy-wrapper {
    text-align: center;
    padding-top: 80px;
  }
}
