/* .first-hightlight-wrapper{
    background-image: url(../../../images/home/ipodPronew-sm.jpg);
    height: 580px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: initial;
    background-color: #fbfbfd;
    text-align: center;
    padding: 65px 20px;
    color: #fff;	
    margin-bottom: 10px;
}
.ipod-caption {
    color: #86868b;
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;		
    padding-top: 310px;
}

@media (min-width: 768px) {
    .first-hightlight-wrapper {
        background-image: url("../../../images/home/ipodPronew.jpg");
        min-height: 692px;
    }	
    .ipod-caption {
    padding-top: 415px;
    }	
} */
.first-hightlight-wrapper {
  background-image: url("../../../images/home/iphone_12_large.jpg");
  height: 580px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: initial;
  background-color: #fbfbfd;
  text-align: center;
  padding: 65px 20px;
  color: #fff;
  margin-bottom: 10px;
}

/* .first-hightlight-wrapper .title-wraper {
  padding-top: 20px;
} */

@media only screen and (max-width: 734px) {
  .first-hightlight-wrapper {
    background-image: url("../../../images/home/iphone_12_small.jpg");
  }
  .first-hightlight-wrapper .description-wraper {
    font-size: 16px;
    margin: 0 18%;
  }
  .first-hightlight-wrapper .description-wrapper {
    font-size: 18px;
    margin: 0 18%;
  }
  .first-hightlight-wrapper .price-wrapper {
    font-size: 16px;
    margin: 0 18%;
  }
}
