.sixth-heghlight-wrapper .left-side-wrapper .left-side-container {
  background-image: url("../../../images/home/blacklarge.jpg");

  background-position: bottom;
  padding-top: 35px;
  margin: 0 0 10px 0;

  height: 580px;
  background-size: 1262px 580px;
  background-repeat: no-repeat;
}
.sixth-heghlight-wrapper .right-side-wrapper .right-side-container {
  background-image: url("../../../images/home/small_card.jpg");
  background-color: #fbfbfd;
  background-position: bottom;
  padding-top: 35px;
  height: 580px;
  background-size: 1262px 580px;
  margin: 0 0 10px 0;
  background-size: auto;
}
.sixth-heghlight-wrapper .left-side-wrapper .title-wraper {
  background-image: url("../../../images/icons/logo_light__cfvl40z2nzau_large_2x.png");
  padding-top: 60px;
  background-position: center;
  height: 31px;
  background-size: 80px 31px;
  background-repeat: no-repeat;
}
.sixth-heghlight-wrapper .left-side-wrapper .description-wraper {
  background-image: url("../../../images/icons/opera-logolarge_2x\ .png");

  background-size: 208px 68px;
  background-repeat: no-repeat;
  margin: 0 auto;
  color: white;
  padding-top: 400px;
}
.sixth-heghlight-wrapper .right-side-wrapper .description-wraper {
  font-size: 20px;
  /* margin: 0 30%; */
  text-align: center;
  padding-top: 10px;
}
.sixth-heghlight-wrapper .left-side-wrapper .links-wrapper {
  text-align: center;
}
.sixth-heghlight-wrapper .left-side-wrapper .links-wrapper ul li a:after {
  font-family: "FontAwesome";
  font-weight: 400;
  content: "\f144";

  padding-left: 5px;
}

.sixth-heghlight-wrapper .right-side-wrapper .title-wraper {
  background-image: url("../../../images/icons/logo_hero__cardsmall_2x.png");
  padding-top: 40px;
  background-position: center;
  height: 40px;
  background-size: 135px 40px;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .sixth-heghlight-wrapper .left-side-wrapper .left-side-container {
    /* background-image: url("../../../images/home/Arcon-lg.jpg"); */
    margin: 5px 5px 10px 10px;
  }
  .sixth-heghlight-wrapper .right-side-wrapper .right-side-container {
    /* background-image: url("../../../images/home/Card_large.jpg"); */
    margin: 5px 10px 10px 5px;
  }
  .sixth-heghlight-wrapper .links-wrapper {
    max-width: 500px;
  }
}
@media (max-width: 734px) {
  .sixth-heghlight-wrapper .left-side-wrapper .left-side-container {
    background-image: url("../../../images/home/blacksmall_2x.jpg");
    height: 548px;
    /* background-size: 516px 490px;
    background-repeat: no-repeat;
    height: 548px; */
    background-size: 734px 548px;
    background-repeat: no-repeat;
    background-color: white;
  }
  .sixth-heghlight-wrapper .left-side-wrapper .title-wraper {
    padding-top: 40px;
  }
  .sixth-heghlight-wrapper .left-side-wrapper .description-wraper {
    font-size: 17px;
    margin: 0 auto;
    color: white;
    padding-top: 360px;
  }
}
@media (max-width: 734px) {
  .sixth-heghlight-wrapper .right-side-wrapper .title-wraper {
    background-position: center;
    padding-top: 40px;
    height: 27px;
    background-size: 91px 27px;
    background-repeat: no-repeat;
  }
  .sixth-heghlight-wrapper .right-side-wrapper .description-wraper {
    font-size: 17px;
  }
}
