.alert-text {
  padding: 10px 20px;
  margin-top: 0;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f7;
}

.covid a {
  text-decoration: none;
  color: #fff;
}
.covid {
  padding: 10px;
  background: #0071e3;
  color: #ffffff;
  margin-top: 0;
  font-size: 13.5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.covid a:hover {
  text-decoration: underline;
}
.covid a:after {
  font-family: "FontAwesome";
  font-weight: 500;
  content: "\f105";
  padding-left: 10px;
  text-decoration: none;
}

@media (max-width: 767px) {
  .covid {
    padding: 10px 80px;
    background: #0071e3;
    color: #ffffff;
    margin-top: 0;
    font-size: 13px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .alert-text {
    padding: 10px 30px;
    margin-top: 0;
    font-size: 13px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f7;
  }
}
